doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Learn Git

    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    //link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600")
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    
    link(rel="stylesheet", type="text/css", href="/styles/main.css")

    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jade/1.11.0/jade.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jade/1.11.0/runtime.min.js")

  body

    form#authForm
        input(type="hidden", value="qweasdzxc", name="auth-token")

    nav.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/index') Git
            if !hideHeader
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav.pull-right
                        li
                            a(href='/index')
                                i.fa.fa-home
                                |  Home
                        li
                            a(href='/foo')
                                i.fa.fa-gift
                                |  Foo

    main.container
        block content

    footer
        .container
            block footer

    block scripts
        script(src="/js/app.js?v=0.0.1")
